<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388519890573-r5t18a7an2n1nmh038usomt573ag8khr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388519890573-r5t18a7an2n1nmh038usomt573ag8khr</string>
	<key>API_KEY</key>
	<string>AIzaSyBTrmsSTNVztCsl9ZYICv7HwySERjeUPys</string>
	<key>GCM_SENDER_ID</key>
	<string>388519890573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gulf.gulfFootball</string>
	<key>PROJECT_ID</key>
	<string>gulf-goal</string>
	<key>STORAGE_BUCKET</key>
	<string>gulf-goal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388519890573:ios:854d07e1018590613bdcc4</string>
	<key>DATABASE_URL</key>
	<string>https://gulf-goal.firebaseio.com</string>
</dict>
</plist>